<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myweb.app.dao.MeeingRoomMapper">
    <resultMap id="BaseResultMap" type="com.myweb.app.entity.MeetingRoom">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="location" jdbcType="VARCHAR" property="location" />
        <result column="equipment" jdbcType="VARCHAR" property="equipment" />
        <result column="max_capacity" jdbcType="INTEGER" property="maxCapacity" />
        <result column="state" jdbcType="INTEGER" property="state" />
        <result column="open_time" jdbcType="INTEGER" property="openTime" />
        <result column="close_time" jdbcType="INTEGER" property="closeTime" />
    </resultMap>
    
    <select id="getScreen" resultType="com.myweb.app.entity.ScreenEntity">
        SELECT b.name,a.topic,a.reservation_time,a.start_time,a.end_time,b.state
        from meeting_record a LEFT JOIN
        meetingroom b on  a.meetingroom_id = b.name
        where a.meetingroom_id like '%${layer}%'
        and now() &gt;  CONCAT(a.reservation_time,' 00:00:00')
        and now() &lt; CONCAT(a.reservation_time,' 23:59:59')
    </select>
</mapper>